/* Resetting some basic Browser Styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Override some html Styles to follow the theme of website*/
body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Header Section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

/* Nav */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 25px;
}

/* Hero Style Section */
.hero {
    background-image: url("../images/digital-marketing-meeting.jpg");
    height: 900px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* classes we use to float left or right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Main Content Styles */
.main-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Changed to a darker blue to make easier to read*/
    background-color: #005c98;
    color: #ffffff;
}

.main-content article img {
    max-height: 200px;
}

.main-content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Benefit Sidebar Styles*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Styles */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
